/*引用css文件地址是url*/
/*@import url(http://fonts.font.im/css?family=Dancing+Script);*/

/*  *号代表所有标签，box-sizing属性设置为border-box，如果给盒子设置内边距
和边框的话，会从content中减去，不会改变盒子模型大小*/
*{
    padding: 0; /*去除所有元素内边距*/
    margin: 0; /*去除所有元素的外边距*/
    box-sizing: border-box; /*改变格子计算方式*/
}
ul{
    list-style: none; /*将列表小圆点去除*/
}
a{
    text-decoration: none; /*链接下划线去除*/
}
/*推荐清除浮动方式，我们写成一个class，方便使用*/
.clearfix{
    overflow: hidden;
    zoom: 1;
}
/*设置容器的宽度以及容器的定位属性*/
.container{
    max-width:1200px;
    margin: 0 auto;
    position: relative; /*父元素设置相对定位。绝对定位的参照物*/
    z-index: 1;
}
img{
    display:inline-block;
    max-width: 100%;
}
section{
    padding: 50px 0; /*内边距50px*/
    min-heighi:400px; /*最小高度400*/
    line-height: 2;
}
/*h1,h2,h3,h4,h5,h6{*/
/*margin: 0px;*/
/*}*/
/*------------------------------header开始---------------------*/
header{
    width: 100%;
    /*定位，设置背景色，设置大小*/
    padding: 20px 0;/*设置上下内边距20像素*/
    position: fixed;/*针对窗口定位*/
    left: 0;/*做偏移量0*/
    top: 0;/*上偏移量0*/
    z-index: 999;/*层叠比较高，会覆盖布局*/
    background:rgba(0,0,0,0);/*透明度0*/
    transition:all .5s; /*增加渐变动画*/
}
/*设置一个专门为header标签准备的.on和.clsaa类*/
header.on{
    /*改变高度，改变颜色*/
    padding: 3px 0;
    background: rgba(0,0,0,0.7);
}
header .logo{
    /*左浮动，居中对齐*/
    float: left;
}
header .logo img{
    /*图片的对齐方式*/
    vertical-align: middle;/*设置图片的对齐方式*/
}
header .logo span{
/*设置字体样式，大小*/
    color: aliceblue;
    font-size:48px;
    vertical-align:middle;
    font-family: "Dancing script";
}
header .navbar{
    /*导航栏浮动方式*/
    float: right;
}
header .navbar ul li{
    /*浮动，盒子模型*/
    float: left;/*元素左浮动*/
    margin: 20px; /*上下左右外边距20像素*/
}
header .navbar ul li a{
    /*点击样式*/
    color:#fff;
    text-shadow:1px 1px 3px rgba(0,0,0,0.2);
    transition:color .5s;
    /*transition用在出现变化的时候，可以让变化有个过渡的效果*/
    /*第一个参数过渡的属性*/
    /*第二参数:过渡时间*/
    /*第三个参数；过渡的曲线：ease慢速，ease-in慢开始。、
    ease——out慢结束，ease-in-out慢开始，linear线性变化
    */
    /*第四个参数：延时的时间*/
}
header .navbar ul li a:hover{
    /*鼠标放上去的样式*/
    color: #339beb;
}
header .navbar ul li a.actiove{
    color: #339beb;
}
/*--------------------banner-------------------------*/
.banner{
    background:url("../image/banner.jpg") no-repeat center center;
    background-size:cover ;/*把背景图片设置为容器大小*/
}
section .br{
   /*width: 100%;*/
    /*height: 300px;*/
    /*text-align: center;*/
    /*position: absolute;*/
    /*top:calc(50% - 150px)*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
section .br h1 span{
    color: #339beb;
}
section .br p{
    line-height: 1.8;
    text-align: left;
}
section .br p span{
    color:#fff;
    background:rgba(0,0,0,.2);
    padding: 2px 5px;
}
/* --------------------关于我们--------------------------*/
.about h1{
    margin: 0; /*外边距去掉*/
    text-align: center;/*文字居中*/
}
/*相邻选择器*/
.about h1+p{
    margin-top: 0;
    margin-bottom:60px ;
    text-align: center;
}
.about .img{
    width: 49%;
    float: left;
}
.about .note{
    width: 49%;
    float: right;
}
.about .note ul {
    /*计数器重置，起个名字*/
    counter-reset: testname 0;
}
.about .note ul li{
    /*计数器叠加*/
    counter-increment: testname 1;
    position: relative;   /*伪类绝对定位坐标*/
    padding-left: 25px; /*给伪类留空间*/
    cursor:pointer; /*鼠标变小手*/
}
.about .note ul li:before{
    /*通过伪类输出*/
    content : counter(testname);
    width: 20px;
    height: 20px;
    /*padding:2px;*/
    border: 1px dashed #000;
    line-height: 1.2;
    border-radius:100px;
    text-align: center;
    position: absolute;
    left: 0;
    top:5px;
    /*transfrom转化*/
    /*第一种：translate平移*/
    /*第二种：scale缩放*/
    /*第三种:rotate旋转*/
    transform:translate(0px);
    /*过渡动画*/
    transition:transform .5s;
}
.about .note ul li:hover:before{
    transform: translate(5px);
}

/*-------------服务--------/-----*/

.service{
    min-height: 600px;
    background:url("../image/desktop.jpg") center center no-repeat;
    background-size:cover;
    text-align: center;
}
.service li{
    float: left;
    width: 48%;
    margin-right: 4%;
    text-align: right;
}
.service li:nth-child(2n){
    margin-right: 0;
    text-align: left;
}
.service li h3{
    display:inline-block;
}
.service li:nth-child(2n+1) i{
    float: right;
    padding: 12px 0 0 20px;
}
.service li:nth-child(2n) i{
    float: left;
     padding: 12px 20px  0 0;
}
.service li i{
    display:inline-block;
    transition: all .5s;
}
.service li i:hover{
    color: red;
    transform: scale(1.2);
    transition: all .5s;
   cursor:pointer; /*鼠标变小手*/
}
/*-----------------------------------*/
.product{
    min-height: 600px;
    text-align: center;
    position: relative;
}
.product>.container>p{
    margin-bottom: 50px;
    /*background:tan;*/
}

.product>div>ul>li{
    width: 260px;
    /*background: url("../image/work.jpg") center center no-repeat;*/
    /*border:1px solid red;*/
    height: 330px;

}
.c1{
    position: relative;
    float: left;
    margin:10px 0px 10px 20px;
    overflow: hidden;
}
/*.c1:nth-of-type(1){*/
    /*margin:10px 0px 10px 20px;*/
    /*border: 1px solid red;*/
/*}*/
.container1{
    width: 240px;
    height: 160px;
    /*border:1px solid red;*/
    position: absolute;
    left: 9px;
    bottom: 20px;
    background: rgba(200,200,200,.7);
}
.container1 span{
    float: left;                
    width: 50px;
    margin :10px ;
    font-size: 15px;
}
.container1 span div:nth-of-type(1){
    background: rgba(0,100,140,1);
    display: inline-block;
    width: 50px;
    height: 25px;
    float: left;

}
.container1 span div:nth-of-type(2){
    background: rgba(10,100,255,1);
    display: inline-block;
    width: 50px;
    height: 25px;
    float: left;

}
.container1 h2{
    font-size: 20px;
    height: 70px;
    line-height: 60px;
}
.container1 p{
    font-size: 12px;
}
.container1>ul{
    background:rgba(150,150,150,.7);
    height: 25px;
    width: 100%;
    /*border: 1px solid blue;*/
    margin-top:10px ;
    position: absolute;
    top: 124px   ;
}
.container1 ul li{
    float: left;
    font-size: 12px;
    margin-left: 20px;
}
.container1 ul li:nth-of-type(1){
    margin-left:110px ;
}
#header1{
    max-width:1200px;
    margin: 0 auto;
}
.c1>img{
    transform: scale(1) rotate(0deg);
    transition:all .5s;
    display: inline-block;

}
.c1:hover img{
    transform: scale(1.5) rotate(10000deg);
}



/*-------------------------------------------*/


.contact{
    color: aliceblue;
    min-height: 500px;
    text-align: center;
    background: url("../image/gg.jpg");
}
.contact>.container>div:nth-of-type(1){
    float: left;
    width: 48%;
    text-align: left;
}
.contact>.container>div:nth-of-type(2){
    float: right;
    width: 48%;
}
input,textarea,button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.7);
    margin: 10px;
}
textarea{
height: 50px;
}
button{
    height: 35px;
}
.contact>div>p:nth-of-type(1){
    margin-bottom: 50px;
}

.c2 p:nth-of-type(1){
    margin-bottom: 20px;
}
/*------------------------------尾部---------------------*/
footer{
    text-align: center;
    margin: 10px;
}
